@font-face {
    font-family: 'ABCDiatypeMonoEdu';
    src: url('../fonts/._ABCDiatypeMonoEdu-Bold.woff2') format('woff2');
    src: url('C:/Users/leonb/Desktop/datenvisualisierung-leon-bork/code/fonts/._ABCDiatypeMonoEdu-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
}

#renderer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: 10px;
}

.button-container {
    position: absolute;
    top: 90px; /* Adjust top value to position near pink line */
    left: 25px;
    display: flex;
    gap: 10px;
}

.half-button-container {
    position: absolute;

    top: 92px;
    left: 400px;
    display: flex;
    gap: 10px;
    color: black;
}

.button {
    padding: 7px 7px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 0.0px solid transparent;
    border-radius: 10px; /* Adjust border radius here for all buttons */
    font-size: 18px; /* Adjust font size here for all buttons */
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s, border 0.3s, color 0.3s;
    line-height: normal; /* Ensure consistent line-height */
    position: relative; /* Ensure buttons maintain their position */
    top: 0; /* Ensure no additional vertical shift */
    display: inline-flex; /* Ensure consistent vertical alignment */
    align-items: center; /* Ensure consistent vertical alignment */
}

.half-button {
    border-radius: 32px; /* Specific border radius for half-buttons */
    font-size: 14px; /* Specific font size for half-buttons */
}

.button:hover {
    background-color: #ffffff;
}

.inactive {
    opacity: 0.5;
    cursor: default;
    color: gray;
    border: none; /* Remove border for inactive buttons */
}

.button.active {
    border-color: rgb(123, 123, 123);
    background-color: rgb(255, 255, 255);
    color: black;
    top: 0; /* Ensure no vertical shift when active */
    line-height: normal; /* Ensure consistent line-height */
    display: inline-flex; /* Ensure consistent vertical alignment */
    align-items: center; /* Ensure consistent vertical alignment */
}

.goal {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 1s ease, top 1s ease, transform 0.5s, opacity 0.5s;
}

.circle {
    border-radius: 50%;
    transition: background-color 0.3s, width 0.3s, height 0.3s;
}
